/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,700');

/* COLOUR REFERENCES
Green: #79b044
Salmon: #dd5638
Blue Gray: #3e4249 */

/* GENERAL */

body {
  margin-top: 50px;
  font-family: 'Raleway', sans-sans-serif;
  font-size: 16px;
  background: url('../img/tile.jpg') top left repeat;
}

/* GLOBAL */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
h1 {
  font-size: 3em;
}
h1,h2 {
  margin: 0 0 40px;
}
h3 {
  margin: 20px 0;
}
h4 {
  font-size: 18px;
}
a:link,
a:visited,
a:active {
  color: #dd5638;
}
a:hover {
  text-decoration: none;
  color: #c9302c;
}
.btn {
  font-weight: bold;
}
a.btn {
  color: white;
}
.btn-danger {
  background-color: #dd5638;
  border-collapse: #d95131;
}
.btn-success {
  background: #79b044;
  border: none;
  transition: .4s;
}
.btn-success:hover {
  background: #6a9b3d;
}
img {
  max-width: 100%;
}
section {
  padding: 40px 0;
}
.section-header {
  text-align: center;
}
.section-header img {
  width: 140px;
  margin: 40px 0;
}

/* PAGES GLOGAL */
.feature-image-default {
  background: url('../img/stuff-feature.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  display: table;
}
.feature-image .page-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.post-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}
.title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #eee;
}

/* HERO SECTION  */
#hero {
  background: url('../img/hero-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding: 80px 0;
  color: white;
}
@media (max-width: 768px) {
  #hero img {
    width: 50%;
  }
}
#hero article {
  text-align: center;
}
#hero .hero-text {
  margin-top: 30px;
}
#price-timeline {
  margin: 30px 0 60px;
  text-align: center;
}
#price-timeline .price {
  display: inline-block;
  margin: 0 2% 0 0;
  width: 30%;
  background: #3e4249;
  padding: 10px 20px 30px;
  position: relative;
  vertical-align: top;
}
@media (max-width: 1210px) {
  #price-timeline .price {
    min-height: 120px;
  }
}
@media (max-width: 568px) {
  #price-timeline .price {
    min-height: 138px;
  }
}
#price-timeline .price.active {
  background: #dd5638;
}
#price-timeline .price span {
  background: #101010;
  display: block;
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 100%;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -35px;
}
#price-timeline h4 {
  margin: 0 0 10px;
}
#price-timeline h4 small {
  color: white;
  font-weight: bold;
  display: block;
}

/* OPT-IN SECTION */
#opt-in {
  background: #3e4249;
  color: white;
  font-size: 1.2em;
}
#opt-in p {
  margin: 5px 0;
}
@media (max-width: 768px) {
  #opt-in p {
    margin: 15px 0;
    text-align: left;
  }
}

/* BOOST INCOME SECTION  */
#boost-in {

}

/* WHO BENEFITS SECTION */
#benefits {
  background: white;
}

/* COURSE FEATURES */
#course-features {
  background: #3e4249;
  color: white;
  text-align: center;
}

/* CUSTOM ICON SPRITES */
i.ci {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url('../img/icon-sprite.png') no-repeat;
}
.ci.ci-computer { background-position: 0 0; }
.ci.ci-watch { background-position: -40px 0; }
.ci.ci-calender { background-position: -80px 0; }
.ci.ci-community { background-position: -120px 0; }
.ci.ci-instructor { background-position: -160px 0; }
.ci.ci-device { background-position: -200px 0; }

/* PROJECT-FEATURES SECTION */
#project-features img {
  width: 100px;
  margin: 30px 0;
}

/* FEATURETTE */
#featurette {
  background: url('../img/stuff-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
#featurette iframe {
  box-shadow: 0 0 40px #444;
}

/* INSTRUCTOR SECTION */
#instructor {
  background: white;
}
#instructor i.fa {
  width: 35px;
  height: 35px;
  line-height: 37px;
  text-align: center;
  margin: 18px 5px 20px 0;
  background: #bbb;
  color: white;
  border-radius: 100%;
  transition: .4s;
}
#instructor i.fa-twitter:hover {
  background: #55acee;
}
#instructor i.fa-facebook:hover {
  background: #3b5998;
}
#instructor i.fa-google-plus:hover {
  background: #db4b39;
}
#instructor .cell {
  display: table;
  font-size: 30px;
  font-weight: bold;
  width: 140px;
  height: 140px;
  background: #dd5638;
  color: white;
  border-radius: 100%;
}
@media (max-width: 568px) {
  #instructor .cell {
    width: 110px;
    height: 110px;
    font-size: 18px;
  }
}
#instructor .cell span {
  display: block;
  font-size: 16px;
  font-weight: normal;
}
#instructor .cell .cellContent {
  display: table-cell;
  vertical-align: middle;
}

/* TESTIMONIALS */
#testimonials .row {
  margin: 40px 0;
}
#testimonials .row p {
  margin-top: 25px;
}
blockquote {
  border: none;
  font-style: italic;
}
blockquote cite {
  display: block;
  margin-top: 15px;
  color: #777;
}

/* SIGN-UP SECTION */
#signup {
  background: url('../img/hipster-stuff.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  color: white;
}
#signup p {
  font-size: 1.5em;
  font-weight: lighter;
}
#signup p span {
  font-weight: bold;
  border-bottom: 2px solid #dd5638;
}
#signup .btn {
  font-size: 24px;
  margin-top: 30px;
}

/* FOOTER */
footer {
  background: #3e4249;
  padding: 15px 0;
}
footer nav li {
  display: inline-block;
  font-size: 16px;
}
footer nav li a,
footer nav li a:active,
footer nav li a:visited {
  color: white;
  text-decoration: none;
}
footer nav li a {
  display: block;
  margin: 0 3px;
  transition: .4s;
}
@media (max-width: 768px) {
  footer nav li a {
    margin: 12px 4px;
  }
}
footer nav li a:hover {
  color: #dd5638;
}
footer nav li a.signup-link {
  color: #dd5638;
}
footer nav li a.signup-link:hover {
  font-weight: bold;
}

/* BLOG */
.feature-image {
  background: url('../img/hipster-stuff.jpg');
}
.post {
  background: white;
  color: #666;
  border: 2px solid #eee;
  margin-bottom: 30px;
}
.post header,
.post .post-excerpt {
  padding: 20px;
}
.post header {
  position: relative;
}
.post header .post-details {
  width: 94%;
  font-size: 12px;
}
.post i.fa {
  font-size: 15px;
  padding: 0 5px 0 10px;
}
.post i.fa:first-child {
  padding: 0 5px 0 0;
}
.post header .post-comments-badge {
  position: absolute;
  top: 31px;
  right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #79b044;
  display: table;
  transition: .4s;
}
.post header .post-comments-badge a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  color: white;
}
.post header .post-comments-badge i.fa {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.post header .post-comments-badge:hover {
  background: #8bc653;
}
.post .post-image {
  height: auto;
}

/* BLOG ASIDE */
aside.blog .widget {
  font-size: 0.9em;
  background: white;
  color: #666;
  border: 2px solid #eee;
  margin-bottom: 30px;
  padding: 20px;
}
aside.blog .widget li:hover {
  position: relative;
  margin-left: 2px;
}
